<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Virtuous - Coming Soon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='comingsoon.css') }}"> <!-- Link to your CSS file -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/images/favicon-16x16.png">
  </head>
  <body style="background-color: whitesmoke;">
    
    <div class="title">
      <a class="title" href="/">Virtuous</a>
    </div>
    
    <div class="body">
        <h1 class="h1"> - <span class="highlight glowing-text">Automotive Design</span></h1>
        <h2 class="h2">Virtuous is currently in the testing process of creating a system software that analyzes the imapct that computing has on break suspension, acceleration, and other mechanics of a car</h2>
      
      <div>
        <a class="subheadings-link h1" href="/VirtuousEducation"> - Education: <span class="highlight-education glowing-text-education">Machine Learning</span></a>
        <h2 class="h2">An additional Machine Learning Curriculum is currently under development</h2>
      </div>
     
      <div>
        <a class="subheadings-link h1" href="/VirtuousFinance"> - Finance: <span class="highlight-finance glowing-text-finance">Quanrative Algorithim</span></a>
        <h2 class="h2">Complete renovation will be coming to the Finance Sector, not only will our SMS Stock Notification be updated but the implementation of a quantative trading algorithim is in process</h2>
      </div>
    </div>  
  </body>
</html>