<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Virtuous Education - Python Curriculum</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='python.css') }}"> <!-- Link to your CSS file -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="background-color:#212429;;">
    <div> 
        <div class="title">
            <a class="title" href="/">Virtuous</a>
        </div>
    
        <div class="tab-area container">
            <a href="#section1"> <div class="tab" id="tab1">Intro to Python</div> </a>
            <a href="#section2"><div class="tab" id="tab2">Functions, Variables, Strings, and Operations</div></a>
            <a href="#section3"><div class="tab" id="tab3">Statements and Operations</div></a>
            <a href="#section4"><div class="tab" id="tab5">Modules</div></a>
            <a href="#section5"><div class="tab" id="tab6">Lists and Loops</div></a>
            <a href="#section6"><div class="tab" id="tab7">Functions - Arguments</div></a>
            <a href="#section7"><div class="tab" id="tab8">Dictionaries and Nesting</div></a>
            <a href="#section8"><div class="tab" id="tab9">Object Oriented Programming (OOP) and Packages</div></a>
            <a href="#section9"><div class="tab" id="tab10">Libraries - Using Pandas</div></a>
            <a href="#section10"><div class="tab" id="tab11">Tkinter and GUI</div></a>
            <a href="#section11"><div class="tab" id="tab12">Errors, Exceptions, and JSON Data</div></a>
            <a href="#section12"><div class="tab" id="tab13">APIs</div></a>
        </div>

        <div class="container-img">
            <img src="static/images/purple-python.png" alt="Purple Python Image">
        </div>
    </div>

    <section id="section1">
        <h1 class="section1-text" style="text-align: center;">Introdution of Python: What is Python?</h1>
    </section>

    <section id="section2">
        <h1 class="section1-text" style="text-align: center;">Functions, Variables, Strings, and Operations</h1>
    </section>

    <section id="section3">
        <h1 class="section1-text" style="text-align: center;">Statements and Operations</h1>
    </section>

    <section id="section4">
        <h1 class="section1-text" style="text-align: center;">Modules</h1>
    </section>

    <section id="section5">
        <h1 class="section1-text" style="text-align: center;">Lists and Loops</h1>
    </section>

    <section id="section6">
        <h1 class="section1-text" style="text-align: center;">Functions - Arguments</h1>
    </section>

    <section id="section7">
        <h1 class="section1-text" style="text-align: center;">Dictionaries and Nesting</h1>
    </section>

    <section id="section8">
        <h1 class="section1-text" style="text-align: center;">Object Oriented Programming (OOP) and Packages</h1>
    </section>

    <section id="section9">
        <h1 class="section1-text" style="text-align: center;">Libraries - Using Pandas</h1>
    </section>

    <section id="section10">
        <h1 class="section1-text" style="text-align: center;">Tkinter and GUI</h1>
    </section>

    <section id="section11">
        <h1 class="section1-text" style="text-align: center;">Errors, Exceptions, and JSON Data</h1>
    </section>

    <section id="section12">
        <h1 class="section1-text" style="text-align: center;">APIs</h1>
    </section>
    
</body>

</html>