<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Virtuous Education</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='education.css') }}"> 
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="icon" href="static/images/favicon-16x16.png">
  </head>

<!--
  <body class="background">
      <div class="title">
        <a class="title" href="/">Virtuous</a>
      </div>
      
      <div>
        <h1 class="heading-center"> Education Sector</h1>
      </div>

      <div class="container">
        <div>
          <a href="/Python">Python</a>
        </div>
        <div>
          <a href="/HTMLCSS">HTML-CSS</a>
        </div>
        <div>
          <a href="/Applications">Applications</a>
        </div>
      </div>
  </body>
--> 


<body style="background-color: #212429;"></body>
  
<div class="title">
    <a class="title" href="/">Virtuous</a>
  </div>

  <div class="coming-soon glowing-text">
    <h1>Under Renovation: New Update</h1>
    <h2 >12-31-23<h2>
  </div>

  </body>

</html>
