<!DOCTYPE html>
<html lang="en" dir="ltr">
  
<head>
    <meta charset="utf-8">
    <title>Virtuous Finance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='finance.css') }}"> <!-- Link to your CSS file -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/images/favicon-16x16.png">
  </head>
  
  
  <body class="background">
    <div class="title">
      <a class="title" href="/">Virtuous</a>
    </div>

    <div>
      <h1 class="h1">Under <span class="highlight glowing-text">Renovation</span></h1> 
    </div>
  </body>


  </html>